---
layout: default
---

<div class="row">
  <div class="col-sm-12">
    <h2>Tidigare konserter</h2>
    {% include events.html year="2023" events=site.data.events_2023 %}
    {% include events.html year="2022" events=site.data.events_2022 %}
    {% include events.html year="2021" events=site.data.events_2021 %}
    {% include events.html year="2020" events=site.data.events_2020 %}
    {% include events.html year="2019" events=site.data.events_2019 %}
    {% include events.html year="2018" events=site.data.events_2018 %}
    {% include events.html year="2017" events=site.data.events_2017 %}
    {% include events.html year="2016" events=site.data.events_2016 %}
    {% include events.html year="2015" events=site.data.events_2015 %}
    {% include events.html year="2014" events=site.data.events_2014 %}
    {% include events.html year="2013" events=site.data.events_2013 %}
    {% include events.html year="2012" events=site.data.events_2012 %}
    {% include events.html year="2011" events=site.data.events_2011 %}
    {% include events.html year="2010" events=site.data.events_2010 %}
    {% include events.html year="2009" events=site.data.events_2009 %}
    {% include events.html year="2008" events=site.data.events_2008 %}
    {% include events.html year="2007" events=site.data.events_2007 %}
  </div>
</div>
